group.id=$Default
request.timeout.ms=60000
security.protocol=SASL_SSL
sasl.mechanism=OAUTHBEARER
sasl.jaas.config=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required;
sasl.login.callback.handler.class=cloud.fractal.samples.automotive.application.reader.CustomAuthenticateCallbackHandler